<a
  href="{{
    href ?
      route(href, params ?? '')
    :
      '#'
  }}"
  class="btn btn-color_green {{ className ?? '' }}"
>
  <img
    src="{{ asset('assets/images/icons/add.svg') }}"
    alt="Добавить"
  >
  {{{ await $slots.main() }}}
</a>
