<a
  href="{{
    href ?
      route(href, params ?? '')
    :
      '#'
  }}"
  class="btn btn-color_green {{ className ?? '' }}"
>
  @!icons.add({ optionalClasses: 'icon-size_20' })
  {{{ await $slots.main() }}}
</a>
