@if(href)
{{-- {{ inspect(params ?? '')}} --}}
{{-- {{ inspect(qs ?? '') }} --}}
  <a
    href="{{ route(href, params ?? '', qs ? {qs: qs} : '') }}"
    class="btn {{ className ?? '' }}"
  >
    {{{ await $slots.main() }}}
  </a>
@else
  <button
    type="{{ type ?? 'button' }}"
    class="btn {{ className ?? '' }}"
  >
    {{{ await $slots.main() }}}
  </button>
@endif
