<button
  type="{{ type ?? 'button' }}"
  class="btn btn-color_green btn-color_green-save {{ className ?? '' }}"
>
  <img
    src="{{ asset('assets/icons/save.svg') }}"
    alt="Сохранить"
  >
  {{{ await $slots.main() }}}
</button>
