<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  @entryPointStyles('app')

  <title>{{ title }}</title>
</head>

<body>
  @include('includes/header')

  @!notification.notification()

  <main>
    <section class="page-content">
      <div class="container">
        @!section('content')
      </div>
    </section>
  </main>

  <script defer src="/js/libs/jquery-3.6.0.min.js"></script>
  <script defer src="/js/libs/select2/select2.min.js"></script>
  <script defer src="/js/libs/select2/i18n/ru.js"></script>
  <script defer src="/js/libs/printThis/printThis.js"></script>
  <script defer src="/js/libs/xlsx/xlsx.full.min.js"></script>

  @entryPointScripts('app')
</body>

</html>
