.badge {
  display: inline-block;
  color: #fff;

  &-pos {
    position: relative;
  }

  &__content {
    border-radius: 10px;
    text-align: center;

    &-pos {
      position: absolute;
      bottom: -8px;
      right: 0;
    }

    &-pad_48 {
      padding: 4px 8px;
    }

    &-pad_26 {
      padding: 2px 6px;
    }

    &-bgc_lb {
      background-color: #3b8de2;
    }

    &-bgc_red {
      background-color: #dd0000;
    }

    &-bgc_org {
      background-color: #f9a82e;
    }
  }
}
