.btn {
  @include btn;

  &-small {
    padding: 7px 12px;
    font-size: 16px;
  }

  &-logout {
    justify-content: center;
  }

  &-color_green {
    color: #000;
    border: 1px solid #5caf5c;

    &:hover {
      background-color: #5caf5c;
      color: #fff;
    }

    &-save {
      &:hover {
        transform: scale(1.1);
        background-color: #5caf5c;
      }
    }
  }

  &-color_orange {
    color: #000;
    border: 1px solid #f8bf05;

    &:hover {
      background-color: #f8bf05;
      color: #fff;
    }
  }

  &-color_blue {
    color: #fff;
    background-color: #39baff;
    border: 1px solid #39baff;

    &:hover {
      background-color: transparent;
      color: #000;
    }

    &-transparent {
      color: #000;
      background-color: #fff;

      &:hover {
        background-color: #39baff;
        color: #fff;
      }
    }
  }

  &-cancel {
    background-color: #9a9898;

    &:hover {
      transform: scale(1.1);
      color: #fff;
      background-color: #807f7f;
    }
  }

  &-dropdown {
    padding: 5px 10px;
    font-size: 20px;
    color: #000;

    &-icon {
      padding: 3px !important;

      &:hover {
        background-color: #aba8a8;
        border-radius: 100%;
        transform: scale(1.2);
      }
    }

    &:hover {
      background-color: #c9c6c6;
    }

    &.active .icon-arrow {
      transform: rotate(180deg);
    }
  }
}
