.card {
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: rgb(243, 240, 240);
  }

  &-hover_no {
    &:hover {
      background-color: unset;
    }
  }

  & + * {
    margin-top: 10px;
  }

  &-completed {
    background-color: rgba(195, 248, 160, 0.6) !important;
  }

  &-danger {
    background-color: rgba(251, 173, 173, 0.8) !important;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 5px;

    &-cg_15 {
      gap: 15px;
    }
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;

    &-center {
      justify-content: center;
    }
  }

  // &__badge {
  //   padding: 4px 8px;
  //   color: #fff;
  //   border-radius: 10px;

  //   &-bgc_lb {
  //     background-color: #3b8de2;
  //   }

  //   &-bgc_org {
  //     background-color: #f9a82e;
  //   }
  // }

  &__text {
    font-size: 19px;

    &-body {
      font-size: 20px;
    }

    &-fs_20 {
      font-size: 20px;
    }

    &-fs_17 {
      font-size: 17px;
    }

    &-bold {
      font-weight: bold;
    }

    &-red {
      color: red;
    }

    &-mt_8 {
      & + * {
        margin-top: 8px;
      }
    }

    &-mt_20 {
      & + * {
        margin-top: 20px;
      }
    }
  }

  &__header-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__hr {
    margin: 8px auto;
    width: 100%;
    border-top: 2px dashed #c8c8c8;
  }

  &__body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
  }

  &__data-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &__footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    &-center {
      align-items: center;
    }
  }

  &__colum {
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
    grid-area: 'colum-1 colum-2 colum-3';
    align-items: center;
    justify-content: center;
    justify-items: center;

    colum-1 {
      grid-area: colum-1;
    }

    colum-2 {
      grid-area: colum-2;
    }

    colum-3 {
      grid-area: colum-3;
    }
  }
}
