.card {
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: rgb(243, 240, 240);
  }

  &-hover_no {
    &:hover {
      background-color: unset;
    }
  }

  & + * {
    margin-top: 10px;
  }

  &-completed {
    background-color: rgba(195, 248, 160, 0.6) !important;
  }

  &-danger {
    background-color: rgba(250, 145, 145, 0.8) !important;
  }

  &__group {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &-cg_15 {
      column-gap: 15px;
    }
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &__badge {
    padding: 4px 8px;
    color: #fff;
    background-color: #3b8de2;
    border-radius: 10px;
  }

  &__text {
    font-size: 19px;

    &-body {
      font-size: 20px;
    }

    &-fs_20 {
      font-size: 20px;
    }

    &-fs_17 {
      font-size: 17px;
    }

    &-bold {
      font-weight: bold;
    }

    &-red {
      color: red;
    }

    &-mt_20 {
      & + * {
        margin-top: 20px;
      }
    }
  }

  &__header-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__hr {
    margin: 8px auto;
    width: 100%;
    border-top: 2px dashed #c8c8c8;
  }

  &__body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
  }

  &__data-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &__footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
}
