.pagination {
  padding: 15px 0;
  display: flex;
  align-items: center;
  column-gap: 5px;

  &__control {
    position: relative;
    padding: 17px;
    width: 15px;
    height: 15px;
    background-color: #e4e4e4;
    border-radius: 50%;
    transition: all 0.3s ease-in;

    img {
      position: absolute;
      top: 50%;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: #5cadf8;
    }

    &.inactive {
      cursor: not-allowed;

      &:hover {
        background-color: #e4e4e4;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 3px 5px;
    font-size: clamp(14px, 2.5vw, 17px);
    background-color: #e4e4e4;
    border-radius: 20px;
  }

  &__item {
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: #5cadf8;
      transform: scale(1.2);
    }

    &.active {
      background-color: #5cadf8;
      transform: scale(1.2);
    }

    &.inactive {
      background-color: unset;

      &:hover {
        transform: unset;
      }
    }

    &-control {
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__link {
    transition: color 0.3s ease-in;

    &:hover {
      color: #fff;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}
