.table {
  @extend %table;

  &__td-text_bold {
    font-size: 18px !important;
    font-weight: bold;
    text-align: center;
  }

  &__th-control {
    width: 50px;
  }

  &__td-control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
  }

  &__td-color_antiquewhite {
    background-color: antiquewhite;
  }

  &__td-color_linen {
    background-color: #f9f4f0;
  }
}
