input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visable {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}
