body {
  font-family: $font-family, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a {
  transition: all 0.3s ease-in;
}

a:hover {
  color: #626262;
}

.none {
  display: none !important;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}
