body {
  font-family: $font-family, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

a {
  color: #000;
  transition: all 0.3s ease-in;
}

a:hover {
  color: #626262;
}

.none {
  display: none !important;
}

.page-content {
  padding: 30px 0;
  min-height: calc(100vh - 90px - 63px);
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  // box-shadow: 2px 32px 47px -37px #000000;
}

.error-text {
  font-size: 18px;
  color: #f93333;
  margin-top: 10px;
}

.no-content {
  padding: 40px 0;
  text-align: center;
}

.title {
  @extend %title;
}

.control {
  @extend %control-group;

  &-column {
    flex-direction: column;
  }

  &-item_center {
    justify-content: center;
  }

  & + * {
    margin-top: 25px;
  }
}

.list {
  @extend %list;
}

.table {
  @extend %table;

  &__td-control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
  }

  &__icon {
    padding: 3px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: rgb(171, 168, 168);
      border-radius: 100%;
      transform: scale(1.2);
    }
  }
}

hr {
  margin: 15px auto;
  border-top: 1px solid #333;
  width: 95%;
  align-items: center;
  z-index: -2;
}

.dialog {
  display: none;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 20px;
  transition: all 0.5s ease-in;

  & + * {
    margin-top: 15px;
  }

  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.form {
  &__title {
    font-size: 20px;
    font-weight: bold;

    & + * {
      margin-top: 20px;
    }
  }

  &__content {
    display: flex;
    gap: 20px;

    & + * {
      margin-top: 30px;
    }

    &-column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__label {
    display: flex;
    flex-direction: column;
    // align-items: center;
    column-gap: 7px;
    font-size: 18px;

    &-row {
      flex-direction: row;
    }

    &-text_left {
      align-items: flex-start;
    }

    .label__text {
      text-align: center;

      &_left {
        text-align: left;
      }

      &_right {
        text-align: right;
      }

      &_nomargin {
        & + * {
          margin-top: unset !important;
        }
      }

      & + * {
        margin-top: 7px;
      }
    }
  }

  &__input  {
    width: 350px;
    font-size: 18px;
    // margin-top: 10px;
    padding: 8px 10px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;

    &-checkbox {
      width: unset;
    }

    &-correctly {
      border: 1px solid #009f00;
    }

    &-invalid {
      border: 1px solid red;
    }

    &::placeholder {
      font-size: 17px;
    }

    &:focus {
      border: 1px solid #5cadf8;
    }
  }

  &__textarea {
    resize: none;

    &:focus {
      border: 1px solid #5cadf8;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
}
