@mixin btn {
  display: flex;
  align-items: center;
  column-gap: 7px;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in;

  &-color_green {
    color: #000;
    border: 1px solid #5caf5c;

    &:hover {
      background-color: #5caf5c;
      color: #fff;
    }

    &-save {
      &:hover {
        transform: scale(1.1);
        background-color: #5caf5c;
      }
    }
  }

  &-color_orange {
    color: #000;
    border: 1px solid #f8bf05;

    &:hover {
      background-color: #f8bf05;
      color: #fff;
    }
  }

  &-color_blue {
    color: #000;
    border: 1px solid #39baff;

    &:hover {
      background-color: #39baff;
      color: #fff;
    }
  }

  &-cancel {
    background-color: #9a9898;

    &:hover {
      transform: scale(1.1);
      color: #fff;
      background-color: #807f7f;
    }
  }
}

@mixin title {
  font-size: 25px;
  font-weight: bold;

  & + * {
    margin-top: 20px;
  }
}

@mixin control-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-row {
    flex-direction: row;
    column-gap: 15px;
  }

  &-center {
    justify-content: center;
  }

  & + * {
    margin-top: 25px;
  }
}

@mixin list {
  .list {
    &__item {
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      grid-template-areas:
        "colum-1 colum-1 colum-2"
      ;
      align-items: center;
      grid-column-gap: 15px;

      & + * {
        margin-top: 8px;
      }
    }

    &__text {
      font-style: italic;

      &-no_text {
        color: #ecb017;
      }
    }

    &__content {
      grid-area: colum-1;
    }

    &__control {
      grid-area: colum-2;
      display: flex;
      column-gap: 8px;
    }

    &__img {
      width: 30px;
      height: 30px;
      padding: 2px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: rgb(171, 168, 168);
        border-radius: 100%;
        transform: scale(1.2);
      }
    }
  }
}

@mixin table {
  table-layout: fixed;
  white-space: normal !important;
  display: block;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
  padding: 10px;
  font-size: 18px;
  background-color: white;

  td, th {
    text-align: center;
    padding: 10px;
  }

  td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
  }

  thead th, th {
    color: #ffffff;
    background-color: #5cadf8;

    &:nth-child(odd) {
      color: #000;
      background-color: #fff;
    }
  }

  tr {
    transition: all 0.3s ease-in;

    &:nth-child(even) {
      background: #F8F8F8;
    }

    &:hover {
      background-color: rgba(51, 51, 153, .1) !important;
    }
  }

  &__td-width-all {
    min-width: 349px;
  }

  &__td-width-show {
    min-width: 920px;
  }

  &__td-control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
  }

  &__icon {
    padding: 3px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: rgb(171, 168, 168);
      border-radius: 100%;
      transform: scale(1.2);
    }
  }
}

@mixin dropdown-menu {
  position: relative;

  .dropdown__menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 170px;
    bottom: 27px;
    right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(227, 225, 225, 0.95);
    font-size: 16px;
    z-index: 1;
    transition: all 0.2s ease-in;

    li {
      padding: 10px;
      transition: all 0.3s ease-in;

      &:hover {
        border-radius: 10px;
        background-color: #bdbbbb;
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
}
