@set('checkedValue', checked && checked ? 'checked=checked' : '')
{{--  {{ inspect(checked) }}  --}}
<div class="form__group">
  <label class="form__label {{ classlabel ?? '' }}">
    <span
      class="label__text {{ classLabelText ?? '' }}"
    >
      {{ label }}
    </span>
    <input
      type="checkbox"
      name="{{ name }}"
      class="form__input form__input-checkbox"
      {{ checkedValue }}
    >
  </label>
</div>
