.defect {
  &-table {
    @extend %table;

    &__td-width-all {
      min-width: 349px;
    }

    &__td-width-show {
      min-width: 920px;
    }

    &__td-control {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 90px;
    }

    &__icon {
      padding: 3px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: rgb(171, 168, 168);
        border-radius: 100%;
        transform: scale(1.2);
      }
    }
  }

  &__completed {
    background-color: rgba(195, 248, 160, 0.6) !important;
  }

  &__danger {
    background-color: rgb(246, 73, 73) !important;
  }
}
