.defect {
  &__title {
    @include title;
  }

  &__control {
    @include control-group;

    &:nth-child(even){
      margin-top: 20px;
    }
  }

  &__content {
    padding-bottom: 15px;
  }

  &-table {
    @include table;

    .defect-dropdown {
      @include dropdown-menu;
    }
  }

  &__completed {
    background-color: rgba(195, 248, 160, 0.6) !important;
  }

  &__danger {
    background-color: rgb(246, 73, 73) !important;
  }
}
