.defect-info {
  & + * {
    margin-top: 45px;
  }

  &__info {
    & + * {
      margin-top: 16px;
    }
  }

  &__text {
    line-height: 30px;

    span {
      font-weight: bold;
    }

    &-center {
      text-align: center;
    }

    &-red {
      color: red;
    }
  }

  &__imgs {
    margin: 20px 0 20px;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__img {
    max-width: 200px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease-in;

    &:hover {
      border: 1px solid #39baff;
    }
  }

  &__group {
    & + & {
      margin-top: 10px;
    }

    &-line {
      display: flex;
      column-gap: 15px;
    }
  }

  &__titles {
    text-align: center;

    & + * {
      margin-top: 25px;
    }
  }

  &__title {
    font-size: 23px;
    font-weight: bold;
  }

  &__description {
    margin-top: 20px;
  }

  &__close {
    margin-top: 20px;
  }
}
