.defect-info {
  & + * {
    margin-top: 45px;
  }

  &__info {
    & + * {
      margin-top: 16px;
    }
  }

  &__block {
    & + * {
      margin-top: 16px;
    }
  }

  &__text {
    line-height: 30px;

    span {
      font-weight: bold;
    }

    &-center {
      text-align: center;
    }

    &-red {
      color: red;
    }
  }

  &__imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    margin: 10px 0;
    padding: 15px 10px;
  }

  &__img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease-in;

    &:hover {
      border: 1px solid #39baff;
    }

    &-small {
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__img-wrapper {
    position: relative;
  }

  &__delete-img {
    position: absolute;
    content: '';
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
      background-color: #f14a4a;
    }
  }

  &__group {
    & + & {
      margin-top: 10px;
    }

    &-line {
      display: flex;
      gap: 15px;
    }

    &-mt {
      margin-top: 15px;
    }
  }

  &__titles {
    text-align: center;

    & + * {
      margin-top: 25px;
    }
  }

  &__title {
    font-size: clamp(18px, 2.7vw, 23px);
    font-weight: bold;
  }

  &__description {
    margin-top: 20px;
  }

  &__close {
    margin-top: 20px;
  }
}
