.footer {
  padding: 10px 0;
  background-color: #edebeb;
  box-shadow: -1px -9px -9px 10px #000000;box-shadow: 1px 9px 9px -10px #000000;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
