.header {
  padding: 10px 0;
  background-color: #edebeb;
  box-shadow: 1px 9px 9px -10px #000000;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    .nav-list {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 25px;

      &__item {
        & > a {
          position: relative;
        }

        & > a::after {
          content: '';
          position: absolute;
          left: 0;
          right: 25px;
          bottom: -5px;
          height: 2px;
          border-radius: 10px;
          transition: all 0.3s ease-in;
        }

        & > a:hover::after {
          background-color: #5cadf8;
        }

        & > a.active {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 25px;
            bottom: -5px;
            height: 3px;
            border-radius: 10px;
            background-color: #5cadf8;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }

  &__login {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: #dbdbdb;
    border-radius: 10px;
  }
}
