<h1> Здравствуйте, {{ user.fullName }} !</h1>
<p>
  {{ text }}
</p>
<p>
  Вы можете ознакомиться с дефектом по ссылке: <a href="http://127.0.0.1:3333{{ route('defects.show', {id: defectId}) }}">Перейти для просмотра</a>
</p>
