@layout('layout/master')

@section('content')
  <h2 class="title">{{ title }}</h2>
  <div class="dashboard__content">
    <p>В будущем тут будет страница со статистикой по дефектам...</p>
  </div>
@endsection
